<div>
	<p><h3><b>Journal Papers:</b></h3></p>
	<ol style="line-height:150%">
		<li>Raj Gautam Dutta, Yaodan Hu, Yier Jin, Feng Yu, and Teng Zhang, SELvAgE: Design andAnalysis of Secure Distributed Estimator for Vehicular Platooning in Adversarial Environment, submitted toTransactions on Intelligent Transportation Systems, IEEE</li>

		<li>Feng Yu and Teng Zhang, A Novel ADMM Algorithm for Graph-Fused Lasso. </li>

		<li>Qi Wang, Jingyue Yang, and Feng Yu, <a href="http://aimsciences.org//article/id/f38a8f8e-2858-42e4-82ea-cd15251c9d11/">Boundedness in logistic Keller–Segel models with nonlinear diffusion and sensitivity functions</a>, Discrete & Continuous Dynamical Systems - A, Sep 2017, Volume 37, Issue 9, Pages 5021-5036</li>

		<li>Ke Wang, Qi Wang, and Feng Yu, <a href="http://aimsciences.org/article/doi/10.3934/dcds.2017021/">Stationary and time-periodic patterns of two-predator and one-prey systems with prey-taxis</a>, Discrete & Continuous Dynamical Systems - A,Jan 2017, Volume 37, Issue 1, Pages 505-543</li>

		<li>Qi Wang, Jingyue Yang, and Feng Yu, <a href="https://arxiv.org/abs/1605.05308">Global well-posedness of advective Lotka–Volterracompetition system with nonlinear diffusion</a>, accepted to Proceedings of the Royal Society of London A: Mathematical, Physical and Engineering Sciences.</li>

	</ol>

	<p><h3><b>Conference papers:</b></h3></p>
	<ol style="line-height:150%">
		<li>Raj Gautam Dutta, Yaodan Hu, Yier Jin, Feng Yu, and Teng Zhang, <a href="https://dl.acm.org/citation.cfm?doid=3240765.3243496">Security for Safety: A Path Toward Building Trusted Autonomous Vehicles</a>, International Conference On Computer Aided Design, Nov 5-9, 2018</li>
	</ol>

</div>